@import '/src/styles.scss';

.card {
    background-color: $secondary;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    color: $quaternary;
    font-family: $type-font;
}
.btn-info {
    background-color: $tertiary;
    color: $quaternary;
    width: fit-content;
    --bs-btn-border-color: $third;
    margin-right: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.btn-info:hover {
    background-color: $tertiary;
    color: $quaternary;
    opacity: 0.7; // hace todo el botón semi-transparente
}


